#uk_slider {
  border-radius: 0;
}
li,
a,
ul {
  text-decoration: none;
  list-style: none;
}

.already_a {
  background-color: #ffffff;
  color: #3f3c56;
  transition: 0.3s;
  cursor: pointer;
}

.already_a:hover {
  background-color: #2887ff;
  color: white;
}

.already {
  background-color: #ffffff;
  color: #3f3c56;
  transition: 0.3s;
  border-radius: 25px;
  cursor: pointer;
}

.already:hover {
  background-color: #2887ff;
  color: white;
}

#square_shape {
  object-fit: cover;
}

@media only screen and (max-width: 959px) and (min-width: 0px) {
  #services {
    margin-top: -20px;
  }
  #name_box {
    position: relative;
    top: 0px;
  }
  .button_1 {
    position: relative;
    left: 0px;
  }
  .button_3 {
    position: relative;
    right: 0px;
  }
  #map {
    margin-top: 0px;
  }
  #contacts {
    margin-top: -30px;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 959px) {
  li {
    text-decoration: none;
  }
  #services {
    margin-top: -100px;
  }
  #name_box {
    position: relative;
    top: -30px;
  }
  .button_1 {
    position: relative;
    left: 5px;
  }
  .button_3 {
    position: relative;
    right: 5px;
  }
  #map {
    margin-top: -50px;
  }
  #contacts {
    margin-top: -100px;
  }
}
